{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
{%include 'admin_dashboard_cards.html'%}

<br><br><br><br>
<div class="container">
<div class="row">
      <div class="col-sm-6">
        <div class="p-1 text-centre" style="text-align:center;background-color:#FF0063 ;color: white;"><h5>Recent Doctors</h5></div>
      <div class="table-responsive">
      <table class="table table-hover table-sm ">
        <thead>
          <tr>
            <th class="text-center pt-4">Name</th>
            <th class="text-center pt-4">Department</th>
            <th class="text-center pt-4">Mobile</th>
            <th class="text-center pt-4">Status</th>

          </tr>
        </thead>
        {% for d in doctors %}
        <tr>
          <td class="text-center pt-4"  style="text-transform: capitalize;">{{d.doctor.first_name}} {{d.doctor.last_name}}</td>
          <td class="text-center pt-4"  style="text-transform: capitalize;">{{d.specialization}}</td>
          <td v>{{d.mobile}}</td>
          {%if d.status%}
          <td class="text-center pt-4"  style="text-transform: capitalize;"> <span class="label label-primary">Permanent</span></td>
          {% else %}
          <td class="text-center pt-4"  style="text-transform: capitalize;"> <span class="label label-success">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div  class="p-1 text-centre" style="text-align:center;background-color:#FF0063 ;color: white;"><h5>Recent Doctors</h5></div>
      <div class="table-responsive">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th scope="col" class="text-center pt-4">Name</th>
            <th scope="col" class="text-center pt-4">Symptoms</th>
            <th scope="col" class="text-center pt-4">Mobile</th>
            <th scope="col" class="text-center pt-4">Address</th>
            <th scope="col" class="text-center pt-4">Status</th>

          </tr>
        </thead>
        {% for p in patients %}
        <tr>
          <td class="text-center pt-4"  style="text-transform: capitalize;"> {{p.patient.first_name}} {{p.patient.last_name}}</td>
          <td class="text-center pt-4"  style="text-transform: capitalize;">{{p.symptoms}}</td>
          <td v>{{p.mobile}}</td>
          <td class="text-center pt-4"  style="text-transform: capitalize;">{{p.address}}</td>
          {%if p.status %}
             {% if p.checkout%}
             <td class="text-center pt-4"  style="text-transform: capitalize;"> <span class="label label-danger">Discharged</span></td>
             {% else%}
              <td class="text-center pt-4"> <span class="label label-primary">Admitted</span></td>
              {% endif %}
          {% else %}
          <td class="text-center pt-4"> <span class="label label-success">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
      </div>
      </div>
</div>     
</div>
{% endblock content %}
