{% extends 'admin_base.html' %}
{% block content %}
<!--admin add doctor-->
<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .menu {
      top: 50px;
    }
        p{
        font-size: 20px;
        color:black;
    }
    h2{
        color:black;
    }

.navbar-nav li a:hover, .navbar-nav li.active a,.active  {
    color: #038801 !important;
    background-color: rgba(255, 255, 255, 0.552) !important;
  }
  .btn:hover {
  background-color: #e40d63;
  color:white;
}
.btn{
    background-color: #FF0063;
    width: 180px;
    color: #EAF6F6;
  }

  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<div class="ab container mt-4 mb-4 p-4 ">
  {% for message in messages %}
      <p style="width: 60%;margin-left:auto;margin-right:auto;color: #f9210d;text-align: center;">
       {{ message }}
      </p>
       {% endfor %}
       <div class="card ">
        <div class="container p-4 text-center" style="color:#FF0063;background-color:#EAF6F6;font-family: Montserrat, sans-serif;" ><h2>Doctor Registration</h2> </div>
        <!-- Start Card Body -->
        <div class="card-body p-4">
          <!-- Start Form -->
          <form id="bookingForm" action="{% url 'admin_doctor_signup' %}" method="post" class="needs-validation" novalidate autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              <!-- Start Input Date -->
              <div class="form-group col-md-6">
                <label for="inputDate">First Name</label>
                <input type="text" class="form-control" id="inputDate" name="fname" style="text-transform: capitalize;" required />
                <small class="form-text text-muted"></small>
              </div>
              <div class="form-group col-md-6">
                <label for="inputDate">Last Name</label>
                <input type="text" class="form-control" id="inputDate" name="lname" style="text-transform: capitalize;"required />
                <small class="form-text text-muted"></small>
              </div>
           </div>   
  
              <div class="form-group">
                <label for="inputName">Address</label>
                <textarea class="form-control" name="address"  rows="2" style="text-transform: capitalize;" required ></textarea>
                <small class="form-text text-muted"></small>
              </div>
              
              <div class="form-row">
              <div class="form-group col-md-6">
                <legend class="col-form-label pt-0">Gender</legend>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="inlineRadioType1" name="gender" value="male" required />
                  <label class="form-check-label" for="inlineRadioType1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="inlineRadioType2" name="gender" value="female" required />
                  <label class="form-check-label" for="inlineRadioType2">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" id="inlineRadioType3" name="gender" value="other" required />
                  <label class="form-check-label" for="inlineRadioType3">Other</label>
                </div> 
              </div>
                <div class="form-group col-md-6">
                  <label for="inputDate">Contact Number</label>
                  <input type="tel" class="form-control" id="inputPhone" name="number"  pattern="\d{5}\d{5}" required />
                  <small class="form-text text-muted"></small>
               </div>
              </div>
  
              <div class="form-row">
                <!-- Start Input Date -->
                <div class="form-group col-md-6">
                  <label  class="label-title">Specialization</label>
                            <select required="required" class="form-control" name="select" id="qwerty" required>
                              <option value="">Select Your Specialization</option>
                              <option value="Cardiologist">Cardiologist</option>
                              <option value="Dermatologists">Dermatologists</option>
                              <option value="Emergency Medicine Specialists">Emergency Medicine Specialists</option>
                              <option value="Allergists/Immunologists">Allergists/Immunologists</option>
                              <option value="gynecologist">gynecologist</option>
                              <option value="Pediatrics">Pediatrics</option>
                             
                            </select>
                  <small class="form-text text-muted"></small>
                </div>
                <div class="form-group col-md-6">
                  <label  class="label-title">Profile Picture</label>
                  <input type="file" class="form-control" name="pic"  required="required">
                  <small class="form-text text-muted"></small>
                </div>
             </div>  
           <div class="form-row mt-3">
            <!-- Start Input Date -->
            <div class="form-group col-md-6">
              <label for="inputDate">Username</label>
                <input type="text" class="form-control" id="uname" name="uname" pattern="(?=.*\d)(?=.*[a-z]).{6,}"  required />
               <small class="form-text text-muted">Must contain at least one number and one letters, and at least 6 or more characters</small>
            </div>
            <div class="form-group col-md-6">
              <label for="inputDate">Email</label>
              <input type="email" class="form-control" id="inputDate" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
              <small class="form-text text-muted"></small>
            </div>
         </div>   
              <!-- Start Submit Button -->
        <button class="btn  btn-block col-lg-2" type="submit">Register</button><br>
        <!-- End Submit Button -->
      </form>
      <!-- End Form -->
    </div>
    <!-- End Card Body -->
  </div>
  <!-- End Card -->
</div>
</div>
<script>
  (function () {
 "use strict";
 window.addEventListener(
   "load",
   function () {
     // Fetch all the forms we want to apply custom Bootstrap validation styles to
     var forms = document.getElementsByClassName("needs-validation");
     // Loop over them and prevent submission
     var validation = Array.prototype.filter.call(forms, function (form) {
       form.addEventListener(
         "submit",
         function (event) {
           if (form.checkValidity() === false) {
             event.preventDefault();
             event.stopPropagation();
           }
           form.classList.add("was-validated");
         },
         false
       );
     });
   },
   false
 );
})();

   
   </script>

{% endblock content %}
