{% extends 'base.html' %}
{% block content %}
<style>
    .ab{
        padding-top: 90px;
        height:536px;
 
    }
    @media only screen and (max-width: 768px) {
  /* For mobile phones: */
     .ab{
      padding-top:150px;}
     p{
      
        color:black;
    }
    }
    p{
        font-size: 20px;
        color:black;
    }
    h2{
        color:black;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a,.active  {
    color: #FF0063 !important;
    background-color: rgba(255, 255, 255, 0.552) !important;
  }
  .btn{
    background-color: #FF0063;
    width: 180px;
    color: #EAF6F6;
  }
  .btn:hover {
  background-color: #e40d63;
  color:white;
}
</style>
<nav class="navbar navbar-expand-md  navbar-dark">
  <div class="container">
   <div class="container">
  <a class="navbar-brand" href="#">Sri MHS Hospital</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="container">
    <ul class="navbar-nav mb-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'open_main' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_click' %}" >Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'doc_click' %}">Doctors</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'patient_click'  %}">Patients</a>
      </li>   
    </ul>
  </div>
  </div>
  </div>  
</nav>
<div class="container-fluid bg-2 text-center ab">
    <div class="container p-4" style="background-color:#EAF6F6;color:#FF0063;">
    <h1>Sri MHS Hospital Management System</h1>
    </div><br>
    <h2>Welcome patient</h2>
    <p>Login to access your account</p><br>
    <a href="{% url 'p_register' %}"><button type= "button" class="btn  btn-lg">Register</button></a>
    <a href="{% url 'login' %}"><button type= "button" class="btn btn-lg">Login</button></a>
  </div>
  
{% endblock %}