{% extends 'patient_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<div class="container">
  <div class="panel">
    <div class="panel-heading"  style="text-align:center;background-color:#FF0063 ;color: white;">
      <h6 class="panel-title">Your Appointments</h6>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th class="text-center pt-4" scope="col">Doctor Name</th>
          <th class="text-center pt-4" scope="col">Description</th>
          <th class="text-center pt-4" scope="col">Date</th>
          <th class="text-center pt-4" scope="col">Status</th>
        </tr>
      </thead>
      {% for a in app %}
      <tr>
        <td class="text-center"> {{a.doctorName}}</td>
        <td class="text-center">{{a.description}}</td>
        <td class="text-center">{{a.appointmentDate}}</td>
        {%if a.status %}
        <td class="text-center"> <span class="label label-primary">Confirmed</span></td>
        {% else %}
        <td class="text-center"> <span class="label label-success">Pending</span></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    </div>
  </div>
</div>
{% endblock content %}
